* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  font-family: "GlacialIndifference";
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER SLIDER */

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  display: flex;
}

.slide {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.5s;
}

.slide.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.slide-desc {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* HEADER INTRODUCTION */

.header-h2 {
  font-size: 50px;
}

.header-h1 {
  font-size: 71px;
  font-weight: bold;
}

.header-p {
  font-size: 23px;
  margin-bottom: 44px;
}

.header-social {
  font-size: 50px;
}

.header-link {
  color: #daae19;
  transition: all 0.5s;
}

.header-link:hover {
  color: #6d570d;
}

.header-img {
  filter: brightness(50%);
}

/* INTRO SECTION */

.main {
  margin-top: 135px;
}

.section-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 65px;
  margin-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.intro-left {
  max-width: 334px;
  text-align: right;
  transition: all 0.5s;
}

.intro-h1 {
  font-size: 40px;
  margin-bottom: 6px;
}

.intro-h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #daae19;
  margin-bottom: 33px;
}

.intro-text {
  font-size: 15px;
  margin-bottom: 60px;
  line-height: 26px;
}

.intro-button {
  padding: 13px 46px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #daae19;
  transition: all 0.5s;
  text-decoration: none;
}

.intro-button:hover {
  background-color: #6d570d;
}

.intro-center {
  max-width: 334px;
}

.intro-img {
  max-width: 330px;
}

.intro-right {
  max-width: 334px;
}

.intro-li {
  margin-bottom: 47px;
  list-style: none;
  font-size: 20px;
  width: 334px;
}

.intro-span {
  color: #e93656;
}

.intro-li::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 10px solid #fafafa;
  margin-top: 15px;
}

/* INTRO SECTION ANIMATIONS */

.html::after {
  animation: html 3s linear infinite;
}

.css::after {
  animation: css 3s linear infinite;
}

.js::after {
  animation: js 3s linear infinite;
}

.ps::after {
  animation: ps 3s linear infinite;
}

@keyframes html {
  0% {
    width: 0%;
    border-color: #e93656;
  }
  50%,
  51% {
    width: 50%;
    border-color: #e93656;
  }
  99%,
  100% {
    width: 100%;
    border-color: #e93656;
  }
}

@keyframes css {
  0% {
    width: 0%;
    border-color: #e93656;
  }
  50%,
  51% {
    width: 40%;
    border-color: #e93656;
  }
  99%,
  100% {
    width: 80%;
    border-color: #e93656;
  }
}

@keyframes js {
  0% {
    width: 0%;
    border-color: #e93656;
  }
  50%,
  51% {
    width: 30%;
    border-color: #e93656;
  }
  99%,
  100% {
    width: 60%;
    border-color: #e93656;
  }
}

@keyframes ps {
  0% {
    width: 0%;
    border-color: #e93656;
  }
  50%,
  51% {
    width: 40%;
    border-color: #e93656;
  }
  99%,
  100% {
    width: 80%;
    border-color: #e93656;
  }
}

/* INFO SECTION */

.section-info {
  height: 210px;
  background-color: #15263e;
  margin-bottom: 150px;
}

.section-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.info-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.info-icon {
  font-size: 30px;
  border: 2px dashed white;
  border-radius: 50%;
  padding: 15px;
  margin-right: 30px;
  transition: all 0.5s;
}

.info-icon:hover {
  cursor: pointer;
  background-color: #e93656;
  border: 2px solid #e93656;
}

.info-h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-p {
  font-size: 14px;
}

/* SERVICES SECTION */

.section-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.services-link {
  text-decoration: none;
  color: #15263e;
}

.service {
  background-color: #fafafa;
  padding: 133px 50px;
  width: 285px;
  height: 360px;
  text-align: center;
  transition: all 0.5s;
}

.service-icon {
  font-size: 60px;
}

.service-h3 {
  font-size: 22px;
}

.service:hover {
  cursor: pointer;
  color: white;
  background-color: #15263e;
}

/* COMMENTS SECTION */

.comments-slider {
  width: 100%;
  height: 570px;
  position: relative;
  margin-bottom: 150px;
}

.comments-wrapper {
  color: white;
  background-image: url("../src/img/wrap1.jpg");
  opacity: 100%;
}

.comments-slide {
  padding: 200px 0px 200px 400px;
  display: none;
  align-items: center;
  gap: 50px;
}

.comments-slide.active {
  display: flex;
}

.comments-p {
  max-width: 400px;
  font-size: 14px;
  line-height: 30px;
}

.job {
  color: #e93656;
}
.comments-h3 {
  font-size: 28px;
  margin-top: 10px;
}

.comments-img {
  max-width: 150px;
  border-radius: 50%;
}

.comments-btns {
  width: 30px;
  padding: 20px 0;
  position: absolute;
  right: 20%;
  top: 38%;
}

#comments-button-1,
#comments-button-2,
#comments-button-3 {
  width: 15px;
  height: 15px;
  background-color: #15263e;
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 10px;
}

#comments-button-1:hover,
#comments-button-2:hover,
#comments-button-3:hover {
  border: 2px solid #e93656;
}

/* PROJECTS SECTION */

.section-h2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 55px;
}

.projects-flex {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 150px;
}

.projects-left {
  width: 240px;
  height: 400px;
  background-color: #15263e;
}

.projects-right {
  width: 900px;
  height: 700px;
}

.projects-ul {
  margin-top: 40px;
}

.projects-li {
  list-style: none;
  text-align: center;
  line-height: 44px;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}

.projects-li:hover {
  cursor: pointer;
  color: #daae19;
}

.projects-right {
  color: white;
  font-size: 25px;
  display: grid;
  text-align: center;

  grid-template-areas:
    "1 2 3 "
    "4 5 6";
}

.project {
  width: 300px;
  height: 350px;
  padding-top: 110px;
  transition: all 0.5s;
  /* filter: brightness(50%); */
  background-size: cover;
  background-position: center;
}

.project:hover {
  cursor: pointer;
  background-image: none;
  background-color: #15263e;
  filter: brightness(100%);
}

.projects-icon {
  display: none;
}

.projects-p {
  display: none;
}

.project:hover .projects-icon {
  display: inline-block;
}

.project:hover .projects-p {
  display: block;
}

.my-portfolio {
  grid-area: "1";
  background-image: url(../src/img/projects1.PNG);
}

.omnifood-project {
  grid-area: "2";
  background-image: url(../src/img/projects2.PNG);
}

.rent-apartment {
  grid-area: "3";
  background-image: url(../src/img/projects3.PNG);
}

.furniture-verse {
  grid-area: "4";
  background-image: url(../src/img/projects4.PNG);
}

.guess-my-number {
  grid-area: "5";
  background-image: url(../src/img/projects5.PNG);
}

.pig-game {
  grid-area: "6";
  background-image: url(../src/img/projects6.PNG);
}

.projects-link {
  text-decoration: none;
  color: white;
}

/* ARTICLES SECTION */

.article-1,
.article-2,
.article-3 {
  max-width: 1770px;
  height: 590px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.article-1,
.article-3 {
  margin-left: 150px;
}

.article-2 {
  flex-direction: row-reverse;
}

.article-info {
  padding-left: 50px;
  padding-right: 50px;
  width: 800px;
}

.article-icon {
  margin-top: 80px;
  font-size: 30px;
  padding: 30px;
  color: #daae19;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 35px;
}

.article-h4 {
  color: #888888;
  margin-bottom: 5px;
}

.article-h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.article-p {
  padding-right: 200px;
}

.article-years {
  background-color: #15263e;
  max-width: 125px;
  display: flex;
  align-items: center;
}

.article-years-p {
  font-size: 30px;
  transform: rotate(90deg);
  width: 300px;
  color: white;
}

.article-img {
  max-width: 950px;
}

/* SECTION FORMS  */

.contact {
  max-width: 1920px;
  height: 660px;
  text-align: center;
  padding-top: 100px;
  background-image: url("../src/img/wrap2.jpg");
}

.cnt {
  margin-bottom: 5px;
  color: white;
}

.contact-p {
  font-size: 17px;
}

.section-p {
  margin-bottom: 50px;
  color: white;
  width: 620px;
  text-align: center;
}

.forms-grid {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  justify-content: center;
  padding-right: 515px;
  padding-left: 515px;
  gap: 10px;
  margin-top: 50px;
}

.long-form {
  grid-column: 1 / span 3;
  width: 600px;
}

.input {
  width: 290px;
  height: 50px;
  padding: 25px;
}

.message {
  width: 890px;
  height: 150px;
}

.submit {
  grid-column: 1 / span 3;
}

.button {
  width: 190px;
  height: 50px;
  padding: 16px 46px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #e93656;
  cursor: pointer;
  transition: all 0.5s;
  background-color: transparent;
  color: #e93656;
  margin-top: 30px;
}

.button:hover {
  background-color: #e93656;
  color: white;
}

.footer-div {
  max-width: 1920px;
  height: 500px;
  background-color: #282828;
}

.ft {
  color: white;
  padding-top: 110px;
  margin-bottom: 22px;
}

.section-p,
.social {
  text-align: center;
  margin: auto;
}

.span {
  color: #e93656;
}

.footer-social {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.all-rights {
  max-width: 1920px;
  height: 80px;
  background-color: #171717;
  padding-top: 30px;
}

/* MEDIA QUERIES */

@media (max-width: 1800px) {
  .comments-btns {
    right: 10%;
    top: 38%;
  }
}

@media (max-width: 1600px) {
  .section-intro {
    padding-right: 50px;
    padding-left: 50px;
  }

  .comments-slide {
    padding: 100px 0px 100px 200px;
    display: none;
    align-items: center;
    gap: 50px;
  }

  .comments-btns {
    right: 20%;
    top: 21%;
  }

  .comments-slider {
    margin-bottom: 0px;
  }
}

@media (max-width: 1500px) {
  .comments-btns {
    right: 10%;
    top: 21%;
  }

  .article-img {
    max-width: 60%;
    height: auto;
  }
}

@media (max-width: 1400px) {
  .comments-btns {
    right: 10%;
    top: 21%;
  }
}

@media (max-width: 1300px) {
  .comments-slide {
    padding: 50px 0px 50px 100px;
  }

  .comments-btns {
    right: 5%;
    top: 18%;
  }

  .comments-slider {
    margin-bottom: 0px;
  }

  .projects-flex {
    padding: 20px;
  }

  .article-img {
    max-width: 60%;
    height: auto;
  }

  .article-info {
    padding: 30px;
  }

  .article-icon {
    margin-top: 0px;
  }

  .comments-slider {
    height: 400px;
  }
}

@media (max-width: 1200px) {
  .section-intro {
    flex-direction: column;
    margin-right: 0px;
  }

  .intro-left,
  .intro-center,
  .intro-right {
    max-width: 500px;
    margin-bottom: 50px;
    align-self: center;
  }

  .intro-left {
    margin-right: 0px;
  }

  .intro-right {
    align-self: center;
  }

  .intro-h1,
  .intro-h2,
  .intro-text {
    text-align: center;
  }

  .intro-button {
    display: flex;
    justify-content: center;
  }

  .section-services {
    gap: 20px;
  }

  .projects-flex {
    flex-direction: column;
    align-items: center;
  }

  .projects-left {
    width: 900px;
  }

  .article-1,
  .article-2,
  .article-3 {
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 0px;
    height: auto;
  }

  .article-info {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .article-years {
    max-width: 100%;
    display: inline-block;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .article-img {
    max-width: 100%;
    align-self: center;
  }

  .article-years-p {
    transform: none;
    margin: auto;
    width: 200px;
  }

  .article-icon {
    display: none;
  }

  .article-img {
    width: 100%;
  }

  .articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .comments-slide.active {
    flex-direction: column;
  }

  .comments-btns {
    right: 20%;
    top: 50%;
  }

  .comments-slide {
    padding: 50px 0px 50px 0px;
  }

  .comments-h3 {
    text-align: center;
  }

  .proj {
    margin-top: 250px;
  }

  .service {
    width: 200px;
  }
}

@media (max-width: 1100px) {
  .slide-desc {
    text-align: start;
    transform: translate(-50%, -50%);
  }
  .input {
    width: 250px;
  }

  .message {
    width: 770px;
  }

  .forms-grid {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 900px) {
  .service {
    width: 285px;
  }

  .section-services {
    justify-content: center;
  }

  .input {
    width: 200px;
  }

  .message {
    width: 620px;
  }

  .projects-left,
  .projects-right {
    max-width: 600px;
  }

  .project {
    max-width: 200px;
  }
}
